@import 'base';


.i_glass{
    color: $font-white-color;
    width: 1.2rem;
    font-size: 1.5rem;
}

.i_bars{
    color: $font-white-color;
    width: 1.2rem;
    font-size: 1.5rem;
}

.i_phone{
    color: $font-white-color;
    width: 1.1rem;
    font-size: 1.4rem;
}

.i_location{
    color: $font-white-color;
    width: 0.9rem;
    font-size: 1.1rem;
}

.i_plane{
    color: $font-black-color;
    width: 0.9rem;
    font-size: 1rem;
}

.i_cart{
    color: $font-black-color;
    width: 1.6rem;
    font-size: 1.8rem;
}
.i_cart4{
    color: rgb(32, 32, 32);
    width: 3rem;
    font-size: 3.2rem;
}
.i_cart2{
    color:rgb(104, 102, 102);
    width: 1.8rem;
    font-size: 2rem;
}
.i_cart3{
    // color: rgb(239, 239, 239);
    width: 1.3rem;
    font-size: 1.5rem;
}
.i_card{
    color:rgb(104, 102, 102);
    width: 2rem;
    font-size: 2.2rem;
}

.i_user{
    color: $font-black-color;
    width: 1.6rem;
    font-size: 1.8rem;
}
.i_user2{
    color:rgb(171, 168, 168);
    width: 1.8rem;
    font-size: 2rem;
}
.i_user3{
    color:rgb(104, 102, 102);
    width: 1.5rem;
    font-size: 1.7rem;
}
.i_percent{
    color:rgb(104, 102, 102);
    width: 1.5rem;
    font-size: 1.7rem;
}


.i_xmark{
    color: rgb(91, 89, 89);
    width: 1.4rem;
    font-size: 1.6rem;
}

.i_check{
    color: $font-black-color;
    width: 1.1rem;
    font-size: 1.3rem; 
}

.i_angle{
    color:$base-color;
    width: 1.4rem;
    font-size: 1.6rem;
}

.i_star{
    color:rgb(243, 213, 45);
    width: 1.2rem;
    font-size: 1.4rem;
}
.i_star2{
    color:rgb(188, 36, 36);
    width: 1rem;
    font-size: 1.2rem;
}
.i_star3{
    color:rgb(188, 36, 36);
    width: 1.6rem;
    font-size: 1.8rem;
}
.i_star4{
    width: 1.8rem;
    font-size: 2rem;
}

.i_heart{
    width: 1.4rem;
    font-size: 1.6rem;
}
.i_heart2{
    width: 1.3rem;
    font-size: 1.5rem;
}
.i_heart3{
    width: 1.7rem;
    font-size: 1.9rem;
}
.i_ruble{
    width: 1rem;
    font-size: 1.2rem;
}
.i_ruble0{
    color: rgb(41, 41, 41);
}
.i_trash{
    width: 1.1rem;
    font-size: 1.3rem;
}